
    <!DOCTYPE html>
<html lang="en">
<head>
	<title>Add New Unit Code</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../style/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../style/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../style/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/util.css">
	<link rel="stylesheet" type="text/css" href="../style/login.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
					<span class="login100-form-title p-b-34">
						Add New Unit Code
					</span>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Unit Faculty">
						<input  class="input100 account-info" type="text" name="Faculty" placeholder="Unit Faculty">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Area of Study">
						<input class="input100 account-info" type="text" name="AreaOfStudy" placeholder="Area of Study">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Area of Study Code">
						<input class="input100 account-info" type="text" name="AreaOfStudyCode" placeholder="Area of Study Code">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Unit Level">
						<input class="input100 account-info" type="text" name="Level" placeholder="Unit Level">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Unit Offered Semester">
						<input class="input100 account-info" type="text" name="Offered" placeholder="Unit Offered Semester">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Unit Code">
						<input  class="input100 account-info" type="text" name="UnitCode" placeholder="Unit Code">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20" data-validate="Type Unit Name">
						<input class="input100 account-info" type="text" name="UnitName" placeholder="Unit Name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20"data-validate="Type Unit Web Semester">
						<input class="input100 account-info" type="text" name="MoreInfo" placeholder="Unit Web Link">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">

						<button class="login100-form-btn" >
							Add Unit
						</button>
					</div>

		</div>
	</div>
	

	
<!--===============================================================================================-->
<script src="../style/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"/>
	
	<script src="../style/vendor/daterangepicker/moment.min.js"></script>
	<script src="../style/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="../style/vendor/countdowntime/countdowntime.js"></script>
	<script src="../script/addUnit.js"></script>

</body>
</html>