<html>
<head>
<meta charset="UTF-8" />
<title>Intent Frequency Diagram</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script> 
</head>
<body>
<div id="container" style="width: 1100px; height: 800px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var baseUrl = "http://ec2-3-104-75-184.ap-southeast-2.compute.amazonaws.com:16888";
   var re = new Array();

   $.ajax({
               url: baseUrl + "/view_frequency",
               type: "get",
               dataType:"json",
               async:false,
               success: function (state) {
                     re = state.res
               }
         })
   var chart = {      
      type: 'pie',     
      options3d: {
         enabled: true,
         alpha: 45         
      }
   };
   var title = {
      text: 'Intent Frequency Pie Chart'   
   };   
   

   var plotOptions = {
      pie: {
         innerSize: 200,
         depth: 70
      }
   };   
  
   var series= [{
         name: 'Frquency(times)',
         data: [
            ['Unit Name Questions', re[0]],
            ['Questions About Area Study of Unit', re[1]],
            ['Unit Information Questions', re[2]],
            ['Unit Website Questions', re[3]],
            ['Booking', re[4]],
            ['Small Talking', re[5]],
            ['Questions About Agent', re[6]],
            ['Qusetions About Users', re[7]],
            ['Unit Offered Semester', re[8]],
            ['Invaild Unit Code Questions',re[9]],
            ['Invaild Intent Questions', re[10]]
         ]
   }];    
   var json = {};   
   json.chart = chart; 
   json.title = title;       
   json.plotOptions = plotOptions; 
   json.series = series;   
   $('#container').highcharts(json);
});
</script>
</body>
</html>