
    <!DOCTYPE html>
<html lang="en">
<head>
	<title>Staff page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../style/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../style/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../style/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../style/util.css">
	<link rel="stylesheet" type="text/css" href="../style/login.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-34">
						What do you want to do?
					</span>
					
					<div class="container-login100-form-btn">
						<button type="button" class="login100-form-btn" id = "check_dia">
							Check the Frequency Diagram
						</button>
                    </div>
                    <span class="login100-form-title p-b-34"></span>
                    <div class="container-login100-form-btn">
						<button type="button" class="login100-form-btn" id="add_unit" >
							Add New Unit Code
						</button>
                    </div>
                    <span class="login100-form-title p-b-34"></span>
                    <div class="container-login100-form-btn">
						<button type="button" class="login100-form-btn" id ="add_intent" >
							Add New Intent
						</button>
                    </div>
                    <span class="login100-form-title p-b-34"></span>
                    <div class="container-login100-form-btn">
						<button type="button" class="login100-form-btn"id = "view_intent" >
							View Intent Needed
                        </button>
                    </div>
                    <span class="login100-form-title p-b-34"></span>
                    <div class="container-login100-form-btn">
						<button type="button" class="login100-form-btn" id ="view_unit" >
							View Unit Code Needed
						</button>
                    </div>
                    <span class="login100-form-title p-b-34"></span>
                    <div class="container-login100-form-btn">
						<button type="button" class="login100-form-btn" id = "check_book">
							Check The Booking List
						</button>
                    </div>

					<div class="w-full text-center p-t-27 p-b-239">

					</div>

				</form>

				<div class="login100-more" style="background-image: url('../images/bg-01.jpg');"></div>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script src="../style/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../style/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../style/vendor/bootstrap/js/popper.js"></script>
	<script src="../style/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../style/vendor/daterangepicker/moment.min.js"></script>
	<script src="../style/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../script/staff_page.js"></script>
</body>
</html>